body {
    font-family: sans-serif;
    background-color: #DCE0DF;
  }


main {
    login-component {
        margin-left: auto;
        margin-right: auto;
        background-color: red;

        img{
            width: 10rem;
            height: 10rem;
        }
    }
}